.chat-window-container {
  display: flex;
  flex-direction: column;
  height: 100%; /* Full height of the container */
  background-color: white;
}

.messages {
  flex: 1;
  padding: 10px;
  overflow-y: auto;
  background-color: #f9f9f9;
}

.no-chat-selected {
  color: #888;
  font-size: 18px;
  padding: 20px;
}

.message-input {
  display: flex;
  padding: 10px;
  border-top: 1px solid #ddd;
  background-color: white;
  flex-shrink: 0;
}