/* Reset margins and padding for the full page layout */
html, body {
  margin: 0;
  padding: 0;
  height: 100%; /* Ensure the body takes up the full viewport */
  overflow: hidden; /* Prevent scrolling on the entire page */
  box-sizing: border-box;
}

.app {
  display: flex;
  flex-direction: column;
  height: 100vh; /* Full viewport height */
}

.content {
  display: flex; 
  flex-direction: row;
  height: calc(100vh - 4rem); 
  overflow: hidden; 
}